@import "tailwindcss/base";
@import "components.css";
@import "utilities.css";

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Khula', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}