<div class="flex bg-pink-100 h-20 w-64 mr-3 mt-3 p-3 pl-5 items-center rounded-lg">
  <div>
    <img src={{this.randomAvar}} alt="avatar-image">
  </div>
  <div class="flex flex-col ml-5 overflow-hidden">
    <span class="text-base font-bold text-gray-600 truncate">
      {{@person.name}}
    </span>
    <span class="text-xs text-gray-500">
      {{@person.placeOfInteraction}}
    </span>
  </div>
</div>